.Reasons
{
    display: grid;
    grid-auto-flow: column;
    width: max-content;
    grid-gap: 2rem;
}
.Reasons .left-r > img
{
   width: 32rem;
   height: 16rem;
}
.Reasons .left-r
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 4rem 2rem;
    width: fit-content;
}
.Reasons .right-r
{
   flex: 1 1;
}
.Reasons .left-r>img
{
  object-fit: cover;
}
.Reasons .right-r
{
  color: white;
  flex: 1 1;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  text-align: left;
}
.Reasons .right-r > span
{
  color: orange;
 font-weight: bold;
}
.Reasons .right-r > div
{
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
